/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav a {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: unset;
	user-select: none;
	cursor: pointer;
}

nav img{
	height: 20px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	width: 404px;
	margin-bottom: 0.5em;
}
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#portfolio .portfolio-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
}
#portfolio .portfolio-title p {
	margin-left: 10px;
	cursor: pointer;
}
#portfolio .portfolio-title h2 {
	text-align: center;
	
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.buttons button {
	background-color: #FFFFFF;
	border: 1px solid #1D6154;
	height: 37px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	border-radius: 90px;
	text-align: center;
	padding: 5px 20px;
	margin: 20px 5px 50px 5px;
	cursor: pointer;
}
.buttons button:hover {
	color: white;
	background-color: #1D6154;
}
.active{
	color: white !important;
	background-color: #1D6154 !important;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 485px;
	object-fit: cover;
}

.gallery figcaption {
	font-size: 13px;
}

#login{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#login form{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 30%;
}

#login label{
	margin: 2em 0 1em 0;
	width: 30%;
}

#login input{
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login[type="submit"]{
	width: 179px !important;
}

#login a{
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.error-login{
	outline: crimson 1px solid !important;
	animation: wiggle 0.3s;
}

#popup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -50px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#popup > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 530px;
	height: fit-content;
	padding: 20px;
	border-radius: 5px;
}

#popup > div > button {
	background-color: #1D6154;
	color: white;
	border: none;
	height: 37px;
	width: 237px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	border-radius: 90px;
	text-align: center;
	padding: 5px 20px;
	margin: 20px 5px 50px 5px;
	cursor: pointer;
}

#popup h2 {
	font-family: work sans;
	color: black;
	font-size: 26px;
	font-weight: 400;	
	padding: 30px;
}

#popup .fa-xmark{
	font-size: 18px;
	cursor: pointer;
}

#popup .fa-arrow-left{
	font-size: 18px;
	cursor: pointer;
}

.popup-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.popup-editmode{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100vw !important;
	border-radius: 0px !important;
	background-color: black !important;
	color: white;
	font-size: 16px;
}

.photo-upload {
	height: 110px;
	width: 360px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	background-color: #E8F1F6;
}

.photo-upload i {
	font-size: 60px;
	color: #B9C5CC;
}

.photo-upload p {
	font-size: 12px;
	color: #444444;
}
  
.photo-upload input[type="file"] {
	display: none;
}

.error-border{
	border: 1px solid crimson !important;
	animation: wiggle 0.3s;
}

  #photoAddForm{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  #submitPhoto {
	font-family: 'Syne';
	width: 237px;
	height: 36px;
	border-radius: 36px;
	background-color: #A7A7A7;
	color: white;
	border: none;
  }

  .photo-desc {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	height: 180px;
	padding: 30px 0px;
  }

  .photo-desc label {
	font-size: 16px;
	color: #3D3D3D;
  }

  .photo-desc input {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
  }

  .photo-desc input:focus{
	outline: none;
  }

  .photo-desc select {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	background-color: white;
  }
  
  .upload-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 173px;
	background-color: #CBD6DC;
	color: #fff;
	border: none;
	border-radius: 36px;
	cursor: pointer;
	color: #306685;
  }

#existingPhotos {
	width: 420px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 6px;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.photo img {
	height: 104px;
	width: 78px;
	object-fit: cover;
}

.photo button {
	position: absolute;
	margin-top: -100px;
	margin-left: 55px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 17px;
	width: 17px;
	background-color: black;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 9px;
}

.line{
	height: 1px;
	width: 420px;
	background-color: #B3B3B3;
	margin-bottom: 30px;
}

#contact {
	width: 30%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	font-size: 30px;
	margin-bottom: 20px;
}
#contact p{
	font-size: 16px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	resize: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-outline:focus {
	outline: none;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	border: none;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
	height: 60px;
	padding: 0.5em;
}

footer nav ul {
	font-size: 14px;
	margin: 2em
}

@keyframes wiggle {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0);
	}
}